<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.css"
    />
    <link rel="stylesheet" href="../css/sablonn.css" />
    <link rel="stylesheet" href="../css/sablon.css" />
    <link rel="stylesheet" href="../css/form-validation.css" />
    <title>STAJ TAKİP SİSTEMİ</title>
  </head>
  <body>
    <%- include("./partials/nav")  %>

    <nav class="main-menu">
      <ul>
          <li class="has-subnav">
              <a href="/ogrenci/staj1basvur">
                  <i class="fa fa-2x bi bi-arrow-right"></i>
                  <span class="nav-text">
                      Başvuru Bilgilerini Girin
                  </span>
              </a>
              
          </li>
          <li class="has-subnav">
              <a href="/ogrenci/staj1basvurubelgesi">
                  <i class="fa fa-2x bi bi-arrow-right"></i>
                  <span class="nav-text">
                      Başvuru Formunuzu Yükleyin
                  </span>
              </a>
              
          </li>
          <li class="has-subnav">
              <a href="/ogrenci/staj1rapor">
                  <i class="fa fa-2x bi bi-arrow-right"></i>
                  <span class="nav-text">
                      Rapor Yükleyin
                  </span>
              </a> 
          </li>
          <li class="has-subnav">
              <a href="/ogrenci/staj1degerlendirme">
                  <i class="fa fa-2x bi bi-arrow-right"></i>
                  <span class="nav-text">
                      Değerlendirme Formu Yükleyin
                  </span>
              </a> 
          </li>
      </ul>
    </nav><br><br>
    <div class="p-3">
      <main>
        <div class="py-5 text-center border-bottom">
          <h4>Staj 1</h4>
        </div>
        <div class="row g-5 mx-5 pt-3">
          <div class="col">
            
            <form method="post" class="needs-validation" novalidate>
              <div class="row g-3">
                
                <h4 class="mb-3">Öğrenci Bilgileri</h4>
                <div class="col-12">
                  <label for="kullaniciNumara" class="form-label">Numara:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="kullaniciNumara"
                    name="kullaniciNumara"
                    placeholder=""
                    value="<%= kullaniciNumara %>"
                    required/>
                </div>
                <div class="col-sm-6">
                  <label for="kullaniciAd" class="form-label">Ad:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="kullaniciAd"
                    name="kullaniciad"
                    placeholder=""
                    value="<%= isim %>"
                    required/>
                </div>

                <div class="col-sm-6">
                  <label for="kullaniciSoyad" class="form-label">Soyadı:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="kullaniciSoyad"
                    name="kullaniciSoyad"
                    placeholder=""
                    value="<%= soyisim %>"
                    required
                  />
                  <!-- <div class="invalid-feedback">Firma adı boş geçilemez.</div> -->
                </div>

                <div class="col-sm-6">
                  <label for="firmaAdi" class="form-label">TC Kimlik Numarası/ Yabancı Kimlik Numarası:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="tc"
                    name="tc"
                    placeholder=""
                    value=""
                    required
                  />
                  <div class="invalid-feedback">TC kimlik numarası boş geçilemez.</div>
                </div>

                <div class="col-sm-6">
                  <label for="kullaniciTelNo" class="form-label">Ev Telefonu/GSM</label>
                  <input
                    type="text"
                    class="form-control"
                    id="kullaniciTelNo"
                    name="kullaniciTelNo"
                    placeholder=""
                    value="<%= telNo %>"
                    required
                  />
                  <!-- <div class="invalid-feedback">Firma adı boş geçilemez.</div> -->
                </div>

                <div class="col-sm-6">
                  <label for="uyruk" class="form-label">Uyruk:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="uyruk"
                    name="uyruk"
                    placeholder=""
                    value=""
                    required
                  />
                  <div class="invalid-feedback">Uyruk boş geçilemez.</div>
                </div>

                <div class="col-sm-6">
                  <label for="kullaniciMail" class="form-label">E-posta:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="kullaniciMail"
                    name="kullaniciMail"
                    placeholder=""
                    value="<%= eposta %>"eposta
                    required
                  />
                  <!-- <div class="invalid-feedback">Firma adı boş geçilemez.</div> -->
                </div>

                <div class="col-12">
                  <label for="ogrenciadres" class="form-label">Adres:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="ogrenciadres"
                    name="ogrenciadres"
                    placeholder=""
                    value=""
                    required
                  />
                  <!-- <div class="invalid-feedback">Firma adı boş geçilemez.</div> -->
                </div>

                <div class="col-md-4">
                  <label for="ogrenciil" class="form-label">İl:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="ogrenciil"
                    name="ogrenciil"
                    placeholder=""
                    value=""
                    required
                  />
                  <div class="invalid-feedback">Firma adı boş geçilemez.</div>
                </div>

                <div class="col-md-4">
                  <label for="ogrenciilce" class="form-label">İlçe:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="ogrenciilce"
                    name="ogrenciilce"
                    placeholder=""
                    value=""
                    required
                  />
                  <div class="invalid-feedback">İlçe boş geçilemez.</div>
                </div>

                <div class="col-md-4">
                  <label for="ogrencipostakodu" class="form-label">Posta Kodu:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="ogrencipostakodu"
                    name="ogrencipostakodu"
                    placeholder=""
                    value=""
                    required
                  />
                  <div class="invalid-feedback">Posta kodu adı boş geçilemez.</div>
                </div>


                <!-- ************************************************************ -->
                <h4 class="mb-3">Firma Bilgileri</h4>
                <div class="col-sm-6">
                  <label for="firmaAdi" class="form-label">Firma Adı:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firmaAdi"
                    name="firmaadi"
                    placeholder=""
                    value=""
                    required
                  />
                  <div class="invalid-feedback">Firma adı boş geçilemez.</div>
                </div>

                <div class="col-sm-6">
                  <label for="faaliyetAlanı" class="form-label"
                    >Faaliyet Alanı:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="faaliyetAlanı"
                    name="firmafaaliyetalani"
                    placeholder=""
                    value=""
                    required
                  />
                  <div class="invalid-feedback">
                    Faaliyet alanı boş geçilemez.
                  </div>
                </div>

                <div class="col-12">
                  <label for="adresBil" class="form-label"
                    >Adres Bilgileri:</label
                  >
                  <div class="input-group has-validation">
                    <input
                      type="text"
                      class="form-control"
                      id="adresBil"
                      name="firmaadres"
                      placeholder=""
                      required
                    />
                    <div class="invalid-feedback">Adres boş geçilemez.</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="adresIl" class="form-label">İl:</label>
                  <div class="input-group has-validation">
                    <input
                      type="text"
                      class="form-control"
                      id="adresIl"
                      name="firmail"
                      placeholder=""
                      required
                    />
                    <div class="invalid-feedback">İl boş geçilemez.</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="adresIlce" class="form-label">İlçe:</label>
                  <div class="input-group has-validation">
                    <input
                      type="text"
                      class="form-control"
                      id="adresIlce"
                      name="firmailce"
                      placeholder=""
                      required
                    />
                    <div class="invalid-feedback">İlce boş geçilemez.</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="postaKodu" class="form-label">Posta Kodu:</label>
                  <div class="input-group has-validation">
                    <input
                      type="text"
                      class="form-control"
                      id="postaKodu"
                      name="firmapostakodu"
                      placeholder=""
                      required
                    />
                    <div class="invalid-feedback">Posta kodu geçilemez.</div>
                  </div>
                </div>
                <p><strong>İletişim Bilgileri</strong></p>
                <div class="col-md-4">
                  <label for="telNo" class="form-label">Telefon:</label>
                  <div class="input-group has-validation">
                    <input
                      type="text"
                      class="form-control"
                      id="telNo"
                      name="firmatelno"
                      placeholder=""
                      required
                    />
                    <div class="invalid-feedback">Telefon boş geçilemez.</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="fax" class="form-label">Fax:</label>
                  <div class="input-group has-validation">
                    <input
                      type="text"
                      class="form-control"
                      id="fax"
                      name="firmafax"
                      placeholder=""
                      required
                    />
                    <div class="invalid-feedback">Fax boş geçilemez.</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="email" class="form-label">E-Posta:</label>
                  <div class="input-group has-validation">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="firmaeposta"
                      placeholder=""
                      required
                    />
                  </div>
                </div>
                <div class="ps-5 pe-5">
                  <label for="unvan" class="form-label"
                    >Staj Sorumlusunun Ünvanı:</label
                  >
                  <select
                    class="form-select"
                    id="country"
                    name="unvan"
                    required
                  >
                    <option value="">Seçiniz</option>
                    <option>Mühendis</option>
                    <option>Teknik Öğretmen</option>
                    <option>Doktor</option>
                  </select>
                  <div class="invalid-feedback">Ünvan boş geçilemez</div>
                </div>

                <div class="col-8 pt-4">
                  Kurum olarak 3308 sayılı kanundaki devlet katkısından
                  yararlanmak istiyor musunuz?
                </div>
                <div class="col-2 pt-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="devletkatki"
                      value="1"
                      id="devKatYes"
                    />
                    <label class="form-check-label" for="devKatYes">
                      Evet
                    </label>
                  </div>
                </div>
                <div class="col-2 pt-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="devletkatki"
                      value="0"
                      id="devKatNo"
                    />
                    <label class="form-check-label" for="devKatNo">
                      Hayır
                    </label>
                  </div>
                </div>
                <h4>Staj Bilgileri</h4>
                <div class="col-sm-5">
                  <label for="basTarih" class="form-label"
                    >Başlangıç Tarihi</label
                  >
                  <div class="input-group has-validation">
                    <input
                      type="date"
                      class="form-control"
                      id="basTarih"
                      name="baslangictarihi"
                      placeholder=""
                      required
                    />
                  </div>
                  <div class="invalid-feedback">Tarih boş geçilemez.</div>
                </div>
                <div class="col-sm-5">
                  <label for="bitTarih" class="form-label">Bitiş Tarihi:</label>
                  <div class="input-group has-validation">
                    <input
                      type="date"
                      class="form-control"
                      id="bitTarih"
                      name="bitistarihi"
                      placeholder=""
                      required
                    />
                    <div class="invalid-feedback">Tarih boş geçilemez.</div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <label for="isgunu" class="form-label">İş Günü:</label>
                  <div class="input-group has-validation">
                    <input
                      type="number"
                      class="form-control"
                      id="isgunu"
                      name="isgunu"
                      placeholder=""
                      required
                    />
                    <div class="invalid-feedback">İş günü boş geçilemez.</div>
                  </div>
                </div>
                <div class="col-8 pt-4">
                  Ailemden, Kendimden veya Anne-Baba Üzerinden Genel Sağlık
                  Sigortası Kapsamında Sağlık Hizmeti Alıyorum.
                </div>
                <div class="col-2 pt-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="aile"
                      value="1"
                      id="aileYes"
                    />
                    <label class="form-check-label" for="aileYes"> Evet </label>
                  </div>
                </div>
                <div class="col-2 pt-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="aile"
                      value="0"
                      id="aileNo"
                    />
                    <label class="form-check-label" for="aileNo"> Hayır </label>
                  </div>
                </div>

                <div class="col-8 pt-4">
                  Genel Sağlık Sigortası (GSS) (Gelir Testi Yaptırdım Prim
                  Ödüyorum).
                </div>
                <div class="col-2 pt-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="genelsaglik"
                      value="1"
                      id="genelsagYes"
                    />
                    <label class="form-check-label" for="genelsagYes">
                      Evet
                    </label>
                  </div>
                </div>
                <div class="col-2 pt-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="genelsaglik"
                      value="0"
                      id="genelsagNo"
                    />
                    <label class="form-check-label" for="aileNo"> Hayır </label>
                  </div>
                </div>
                <div class="col-8 pt-4">25 Yaşını Doldurdum.</div>
                <div class="col-2 pt-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="yas25"
                      value="1"
                      id="25yasYes"
                    />
                    <label class="form-check-label" for="25yasYes">
                      Evet
                    </label>
                  </div>
                </div>
                <div class="col-2 pt-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="yas25"
                      value="0"
                      id="25yasNo"
                    />
                    <label class="form-check-label" for="25yasNo">
                      Hayır
                    </label>
                  </div>
                </div>
                <div class="col-8 pt-4">Cumartesi Çalışıyor.</div>
                <div class="col-2 pt-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="cumartesi"
                      value="1"
                      id="cumartesiYes"
                    />
                    <label class="form-check-label" for="cumartesiYes">
                      Evet
                    </label>
                  </div>
                </div>
                <div class="col-2 pt-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="cumartesi"
                      value="0"
                      id="cumartesiNo"
                    />
                    <label class="form-check-label" for="cumartesiNo">
                      Hayır
                    </label>
                  </div>
                </div>
                <button
                id="btn"
                class="w-100 btn btn-success btn-lg mx-2"
                type="submit"
                >
                Gönder
              </button> 
              <br>
              <div class="text-center">  
                <h4>
                  <button type="button" class="btn btn-warning" <%=disabled%>>
                    <a href="/ogrenci/pdfstaj1" target="_blank"><i class="bi bi-file-earmark-pdf-fill"></i>PDF İNDİRİN</a>
                  </button>
                </h4> 
              </div> 
              <% if (typeof message != "undefined") { %> 
                <div class="alert alert-<%= renk %> text-center m-3">
                 <%= message %> 
               </div>
              <% } %> 
            </form>  
          </div>
        </div>
      </main>
    </div>

    <footer class="pt-5 bg-light text-dark text-center">
      <div class="text-start fw-lighter">
        <div
          class="row p-5 mx-5 text-center d-none d-md-flex justify-lg-content-between"
        >
          <div class="col-3"><p>SEHER MELİKE ÜNALDI</p></div>
          <div class="col-3"><p>ZEHRA AN</p></div>
          <div class="col-3"><p>ÖZER ARMAĞAN</p></div>
          <div class="col-3"><p>ERDEM HACIHASANOĞLU</p></div>
        </div>
      </div>
      <div class="pt-5 text-start fw-lighter">
        <div class="row p-5 mx-5 text-center d-flex d-md-none">
          <p>SEHER MELİKE ÜNALDI</p>
          <p>ZEHRA AN</p>
          <p>ÖZER ARMAĞAN</p>
          <p>ERDEM HACIHASANOĞLU</p>
        </div>
      </div>
      <hr />

      &copy;2022 Kocaeli Üniversitesi
      <span class="text-primary">&hearts;</span>
    </footer>
    
    <script src="../js/form-validation.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>