<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.css"/>
    <link rel="stylesheet" href="../css/sablonn.css">
    <link rel="stylesheet" href="../css/sablon.css">
    <link rel="stylesheet" href="../css/form-validation.css">
    <title>STAJ TAKİP SİSTEMİ</title>
</head>
<body>

    <%- include("./partials/nav")  %>
    
    <nav class="main-menu">
        <ul>
            <li class="has-subnav">
                <a href="/admin/kullanicitablosu">
                    <i class="fa fa-2x bi bi-arrow-right"></i>
                    <span class="nav-text">
                        Kullanıcıları Görün
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="/admin/kullaniciekle">
                    <i class="fa fa-2x bi bi-arrow-right"></i>
                    <span class="nav-text">
                        Yeni Kullanıcı Ekleyin
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="/admin/kullaniciguncelle">
                    <i class="fa fa-2x bi bi-arrow-right"></i>
                    <span class="nav-text">
                        Kullanıcı Güncelleyin
                    </span>
                </a>
               
            </li>
            <li>
                <a href="/admin/kullanicisil">
                    <i class=" fa fa-2x bi bi-arrow-right"></i>
                    <span class="nav-text">
                        Kullanıcı Silin
                    </span>
                </a>
            </li>
    </nav>
    
    <div class="p-5 m-5">
        <main>
            <div class="text-center border-bottom">
                <h4>YENİ KULLANICI EKLEYİN</h4>          
            </div>
            <form method="post" class="needs-validation pt-5" novalidate>
                <div class="row g-5 mx-5">
                    <div class="col">
                        <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="kulAdi" class="form-label">Adı:</label>
                            <input name="kullaniciAd" type="text" class="form-control" id="kulAdi" placeholder="" value="" required>
                            <div class="invalid-feedback">
                            Kullanıcının adı boş geçilemez.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="kulSoyad" class="form-label">Soyadı:</label>
                            <input name="kullaniciSoyad" type="text" class="form-control" id="kulSoyad" placeholder="" value="" required>
                            <div class="invalid-feedback">
                            Kullanıcının soyadı boş geçilemez.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="kulNumara" class="form-label">Numara:</label>
                            <input name="kullaniciNumara" type="number" class="form-control" id="kulNumara" placeholder="" value="" required>
                            <div class="invalid-feedback">
                            Kullanıcının numarası boş geçilemez.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="kulSifre" class="form-label">Şifre:</label>
                            <input name="kullaniciParola" type="password" class="form-control" id="kulSifre" placeholder="" value="" required>
                            <div class="invalid-feedback">
                            Kullanıcının şifresi boş geçilemez.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="kulTelNo" class="form-label">Telefon:</label>
                            <div class="input-group has-validation">
                            <input name="kullaniciTelNo" type="number" class="form-control" id="kulTelNo" placeholder="orn:(500)0000000" required>
                            <div class="invalid-feedback">
                                Telefon boş geçilemez.
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="kulEmail" class="form-label">E-Posta:</label>
                            <div class="input-group has-validation">
                            <input name="kullaniciMail" type="email" class="form-control" id="kulEmail" placeholder="" required>
                            <div class="invalid-feedback">
                                E-Posta boş geçilemez veya düzgün bir E-posta giriniz.
                            </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="rolID" class="form-label">Rolü:</label>
                            <select name="rolID" id="rolID" class="form-select">
                            <option value="-1" selected>Seçiniz</option>
                            <% rol.forEach(roller => { %>
                                <option value="<%= roller.dataValues.rolID %> "><%= roller.dataValues.rolAdi %> 
                            <% }) %>
                            </select>
                            <div class="invalid-feedback">
                                Rol boş geçilemez.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="kulFakulte" class="form-label">Fakültesi:</label>
                            <div class="input-group has-validation">
                            <input name="kullaniciFakulte" type="text" class="form-control" id="kulFakulte" placeholder="" required>
                            </div>
                            <div class="invalid-feedback">
                                Fakülte boş geçilemez.
                            </div>
                        </div>
                            <div class="col-md-3">
                                <label for="kulBolum" class="form-label">Bölümü:</label>
                                <div class="input-group has-validation">
                                <input name="kullaniciBolum" type="text" class="form-control" id="kulBolum" placeholder="" required>
                                </div>
                                <div class="invalid-feedback">
                                    Bölüm boş geçilemez.
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="kulSınıf" class="form-label">Sınıfı(Opsiyonel)</label>
                                <select name="kullaniciSinif" class="form-select">
                                <option name="kullaniciSinif" value="">Seçiniz</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                </select>
                            </div>
                        <button class="w-100 btn btn-success btn-lg mx-2" type="submit">Kaydet</button> <br><br>
                        <% if (typeof message != "undefined") { %>
                            <div class="alert alert-<%= renk %> m-3 text-center">  
                             <%= message %> 
                           </div>
                        <% } %>
                    </div>
                </div>
            </form>
        </main> 
    </div>


    <footer class="p-2 bg-light text-dark text-center">
        <div class="text-start fw-lighter">
           <div class="row p-5 mx-5 text-center d-none d-md-flex justify-lg-content-between ">
              <div class="col-3"><p>SEHER MELİKE ÜNALDI</p> </div>
              <div class="col-3"><p>ZEHRA AN</p> </div>
              <div class="col-3"><p>ÖZER ARMAĞAN</p> </div>
              <div class="col-3"><p>ERDEM HACIHASANOĞLU</p> </div>
           </div>
        </div>
        <div class="text-start fw-lighter">
           <div class="row p-5 mx-5 text-center d-flex d-md-none">
              <p>SEHER MELİKE ÜNALDI</p>
              <p>ZEHRA AN</p>
              <p>ÖZER ARMAĞAN</p>
              <p>ERDEM HACIHASANOĞLU</p>
           </div>
        </div> 
        <hr>
        &copy;2022 Kocaeli Üniversitesi
        <span class="text-primary">&hearts;</span> 
    </footer>
    <script src="../js/form-validation.js"></script>    
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script>
        $('#myTable').DataTable({
            lengthMenu:[5,10,20,50],
            language:{
                url:'https://cdn.datatables.net/plug-ins/1.12.1/i18n/tr.json',
                "info": "Toplam _TOTAL_ Kayıt",
                "lengthMenu":" Kayıt : _MENU_ ",
                "paginate": {
                    "first":      "First",
                    "last":       "Last",
                    "next":       ">",
                    "previous":   "<"
                }} }); 
    </script>
</body>
</html>