<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/sablonn.css">
    <link rel="stylesheet" href="../css/sablon.css">
    <link rel="stylesheet" href="../css/form-validation.css">
    <title>STAJ TAKİP SİSTEMİ</title>
</head>
<body>

    <%- include("./partials/nav")  %>

    <nav class="main-menu">
        <ul>
            <li class="has-subnav">
                <a href="/admin/basvurudegerlendir">
                    <i class="fa fa-2x bi bi-arrow-right"></i>
                    <span class="nav-text">
                        Başvuru Belgesi Değerlendirin
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="/admin/ogrtmnbelirle">
                    <i class="fa fa-2x bi bi-arrow-right"></i>
                    <span class="nav-text">
                        Staj/İme Sunum Bilgileri Belirleyin
                    </span>
                </a>
               
            </li>
            <li class="has-subnav">
                <a href="/admin/belgegor">
                    <i class="fa fa-2x bi bi-arrow-right"></i>
                    <span class="nav-text">
                        Staj/İme Belgelerini Görün
                    </span>
                </a>
               
            </li>
            <li>
                <a href="/admin/stajdegerlendir">
                    <i class=" fa fa-2x bi bi-arrow-right"></i>
                    <span class="nav-text">
                        Staj/İme Değerlendirin
                    </span>
                </a>
            </li>
    </nav>

    <div class="p-5 m-5">
        <main>
            <form method="post" class="d-flex row g-1 pt-5" role="search">
                <div class="row">
                    <div class="col-md-6">
                        <label for="kullaniciNumarasi" class="form-label">Kullanıcı Numarası:</label>
                        <input name="kullaniciNumarasi" class="form-control me-2" type="search" placeholder="Kullanıcı Numarası Girin">
                    </div>
                    <div class="col-md-6">
                        <label for="stajTipi" class="form-label">Staj Tipi:</label>
                        <select name="stajTipiSecim" id="rolID" class="form-select">
                        <option value="-1" selected>Seçiniz</option>
                        <% stajTipi.forEach(stajTipi => { %>
                            <option value="<%= stajTipi.dataValues.stajTipiID %> "><%= stajTipi.dataValues.stajTipiAdi %> 
                        <% }) %>
                        </select>
                        <div class="invalid-feedback">
                            Staj Tipi boş geçilemez.
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-success mt-3" type="submit">Belgeleri Ara</button>
            </form>
            <br>
            <% if (typeof message != "undefined") { %>
                <div class="alert alert-<%= renk %> m-3 text-center">  
                 <%= message %> 
               </div>
            <% } %>
            <br>
            <div class="container d-flex justify-content-center text-white">
                <div class="card text-center border border-success border-2 rounded-3">
                    <div class="card-body">
                      <br><br>
                      <h5 class="card-title">
                        <% if (typeof kullaniciNumarasi != "undefined") { %>   
                        <%= kullaniciNumarasi %> 
                        <% } %>
                         Numaralı Öğrencinin Staj Başvuru Belgesi</h5><br>
                         <% if (typeof basvuruForm != "undefined") { %>    
                            <div class="container d-flex justify-content-center bg-success p-2 border border-2">       
                                <a class="text-center text-white" href="/admin/download-basvuruBelge"><i class="bi bi-file-earmark-pdf-fill text-danger"></i><%= basvuruForm %></a>  
                        </div><% } %>
                    </div>
                </div>
            </div>
            <br><br>
            <h5 class="text-center"><% if (typeof kullaniciNumarasi != "undefined") { %>   
                <%= kullaniciNumarasi %> 
                <% } %> Numaralı Öğrencinin</h5>
            <div class="container onay d-flex justify-content-center"> 
                <button type="button" class="btn btn-success"><a href="/admin/basvuruBelgeOnay" class="text-white text-decoration-none">Staj/İşyerinde Mesleki Eğitim Belgesini Onaylayın</a> </button>
                <button type="button" class="btn btn-danger"><a href="/admin/basvuruBelgeRet" class="text-white text-decoration-none"> Staj/İşyerinde Mesleki Eğitim Belgesini Reddedin</a></button>
            </div>  
        </main>         
    </div>
    


    <footer class="p-2 bg-light text-dark text-center">
        <div class="text-start fw-lighter">
           <div class="row p-5 mx-5 text-center d-none d-md-flex justify-lg-content-between ">
              <div class="col-3"><p>SEHER MELİKE ÜNALDI</p> </div>
              <div class="col-3"><p>ZEHRA AN</p> </div>
              <div class="col-3"><p>ÖZER ARMAĞAN</p> </div>
              <div class="col-3"><p>ERDEM HACIHASANOĞLU</p> </div>
           </div>
        </div>
        <div class="text-start fw-lighter">
           <div class="row p-5 mx-5 text-center d-flex d-md-none">
              <p>SEHER MELİKE ÜNALDI</p>
              <p>ZEHRA AN</p>
              <p>ÖZER ARMAĞAN</p>
              <p>ERDEM HACIHASANOĞLU</p>
           </div>
        </div> 
        <hr>
        &copy;2022 Kocaeli Üniversitesi
        <span class="text-primary">&hearts;</span> 
    </footer>
    <script src="../js/form-validation.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>